<launch>
   <arg name="model" default="$(find fourth_robot_description)/robots/fourth_robot.urdf.xacro"/>

  <param name="/use_sim_time" value="true" />
  <!-- prameters -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'"/>

  <node name="gmapping" pkg="gmapping" args="scan:=base_scan" type="slam_gmapping"/>
  
  <node name="playbag" pkg="rosbag" type="play"
		args="--clock $(arg bag_filename)" />
  <node name="rviz" pkg="rviz" type="rviz" required="true"
		args="-d $(find fourth_robot_slam)/config/rviz/gmapping.rviz" />
</launch>
